# Add ignored files and folder here

# ----- Angular
# handled at projects level

# ----- Java
# N/A

# ----- NodeJS
node/*/node_modules/

# ----- Ruby
# handled at projects level

# ----- Jekyll Website
# output
tutorial-website/_site
# sass cache
.sass-cache

# Misc
plop.*
pouet.*