# Add ignored files and folder here
.vscode

# ----- Angular
# handled at projects level

# ----- Java
# N/A

# ----- JavaScript
node_modules/
yarn-error.log

# ----- Ruby
# handled at projects level

# ----- Jekyll Website
# output
tutorial-website/_site
# sass cache
.sass-cache

# ----- Python
__pycache__


# Misc
plop.*
pouet.*