body {
    background-color: #212121;
    color: #eaeaea;
}

#main-content {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: #b5e853;
    }
    a{
        color: #63c0f5;
    }
}