.box {
    padding: 8px;
    margin: 8px;
}

.box-blue {
    border: 1px solid darkblue;
}

.box-red {
    border: 1px solid darkred;
}

.box-green {
    border: 1px solid darkgreen;
}

.box-orange {
    border: 1px solid darkorange;
}