ul {
    list-style-type: none;
}

li {
    font-weight: bold;
}

.alert {
    background: yellow;
    width: 100%;
    height: 30px;
}

.another-class{
    border: 1px solid red;
}

.pouet{
    background: cyan;
}
.plop{
    width: 500px;
    height: 200px;
}