// https://www.canva.com/learn/100-color-combinations/
// Watery blue-greens
$colorPrimaryDark: #021C1E;
$colorPrimary: #004445;
$colorPrimaryLight: #2C7873;
$colorSecondary: #6FB98F;
// Refreshing & Pretty: aquamarine
$colorSecondaryLight: #98DBC6;
// Icy blues: overcast
$colorLight: #F1F1F2;
// Day & night: dark navy
$colorDark: #011A27;