<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/syntax-monokai.css" />
    <!--
      <link rel="stylesheet" href="/assets/css/syntax-base16.css" />
      <link rel="stylesheet" href="/assets/css/syntax-colorful.css" />
      <link rel="stylesheet" href="/assets/css/syntax-github.css" />
      <link rel="stylesheet" href="/assets/css/syntax-gruvbox.css" />
      <link rel="stylesheet" href="/assets/css/syntax-igor-pro.css" />
      <link rel="stylesheet" href="/assets/css/syntax-molokai.css" />
      <link rel="stylesheet" href="/assets/css/syntax-monokai-sublime.css" />
      <link rel="stylesheet" href="/assets/css/syntax-pastie.css" />
      <link rel="stylesheet" href="/assets/css/syntax-thankful-eyes.css" />
      <link rel="stylesheet" href="/assets/css/syntax-tulip.css" />
    -->
  </head>
  <body>
    {% include navigation.html %} {{ content }}
  </body>
</html>
